.calculator-container {
    padding: 70px 0 80px;
    background-color: #F4F4F4;

    @media (max-width: $screenS) {
        padding: 50px 0;
        background-color: $white;
    }
}

.calculator {
    padding: 50px;
    background: $white;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $screenS) {
        flex-direction: column;
        padding: 0;
    }
}

.calculator__content {
    width: calc(100% - 260px);
    padding-right: 50px;
    border-right: 1px solid $gray;

    @media (max-width: $screenS) {
        width: 100%;
        padding-right: 0;
        border-right: 0;
    }
}

.calculator-item {
    width: 100%;
    margin-bottom: 30px;
}

.calculator-item__row {
    display: flex;
    justify-content: space-between;
}

.calculator-item__title {
    font-family: $fontSecond;
    font-size: 16px;
    line-height: 24px;

    color: $lightBlack;
}

.calculator-item__input {
    height: 40px;
}

.calculator-item__result {
    font-size: 32px;
    line-height: 30px;

    color: $lightBlack;

    @media (max-width: $screenS) {
        font-size: 24px;
        line-height: 30px;
    }
}

.calculator-item__extreme {
    font-family: $fontSecond;
    font-size: 12px;
    line-height: 12px;
    color: #A2A4A6;

    @media (max-width: $screenS) {
        line-height: 16px;
    }
}

.calculator__note {
    font-size: 13px;
    line-height: 18px;

    color: #A2A4A6;

    @media (max-width: $screenS) {
        border-top: 1px solid $gray;
        padding: 12px 0;
        max-width: 270px;
        margin: 25px auto 0;
    }
}

.calculator__calc {
    width: 260px;
    padding-left: 55px;
    box-sizing: border-box;

    @media (max-width: $screenS) {
        background: #F4F4F4;
        border-radius: 14px;
        padding-top: 30px;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
}

.calculator__info {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    
    color: $lightBlack;

    span {
        font-family: $fontSecond;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 40px;
        font-weight: normal;

        display: block;
    }

    @media (max-width: $screenS) {
        font-size: 28px;
        line-height: 34px;

        span {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 20px;
        }
    }
}