@font-face {
  font-family: 'Navigo';
  src: url('../assets/fonts/Navigo-Light-Web.eot');
  src: url('../assets/fonts/Navigo-Light-Web.eot#iefix') format('embedded-opentype'), url('../assets/fonts/Navigo-Light-Web.woff2') format('woff2'), url('../assets/fonts/Navigo-Light-Web.woff') format('woff'), url('../assets/fonts/Navigo-Light-Web.ttf') format('truetype'), url('../assets/fonts/Navigo-Light-Web.svg#Navigo Light') format('svg');

  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Navigo';
  src: url('../assets/fonts/Navigo-Regular-Web.eot');
  src: url('../assets/fonts/Navigo-Regular-Web.eot#iefix') format('embedded-opentype'), url('../assets/fonts/Navigo-Regular-Web.woff2') format('woff2'), url('../assets/fonts/Navigo-Regular-Web.woff') format('woff'), url('../assets/fonts/Navigo-Regular-Web.ttf') format('truetype'), url('../assets/fonts/Navigo-Regular-Web.svg#Navigo') format('svg');

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Navigo';
  src: url('../assets/fonts/Navigo-Bold-Web.eot');
  src: url('../assets/fonts/Navigo-Bold-Web.eot#iefix') format('embedded-opentype'), url('../assets/fonts/Navigo-Bold-Web.woff2') format('woff2'), url('../assets/fonts/Navigo-Bold-Web.woff') format('woff'), url('../assets/fonts/Navigo-Bold-Web.ttf') format('truetype'), url('../assets/fonts/Navigo-Bold-Web.svg#Navigo Bold') format('svg');

  font-weight: 700;
  font-style: normal;
} 


@font-face {
  font-family: 'ALSHauss';
  src: url('../assets/fonts/ALS_Hauss_Light_2.1.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ALSHauss';
  src: url('../assets/fonts/ALS_Hauss_Regular_2.1.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ALSHauss';
  src: url('../assets/fonts/ALS_Hauss_Medium_2.1.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ALSHauss';
  src: url('../assets/fonts/ALS_Hauss_Bold_2.1.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
}
