// // breakpoints
$screenS: 1139px;

// $tv: 1023px;
// $tvContent: 691px;

// $mobile: 767px;

$font: 'Navigo', sans-serif;
$fontSecond: 'ALSHauss', sans-serif;

// //colors
// $pink: #FF6C6C;
// $lightPink: rgba($pink, .75);
$gray: #E1E1E3;
// $lightGray: rgba($gray, .75);
// $blue: #01576C;
// $lightBlue: rgba($blue, .75);
$white: #FFFFFF;
$lightBlack: #2B2D33;
$black: #000000;
$yellow: #FEE600;